.login-form {
  background-color: #fff;
  height: 400px;
  width: 400px;
  border: solid 1px #8f8f89;
  color: #8f8f89;
}

.login-container {
  display: flex;
  justify-content: center;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.login-field {
  background-color: #bfbfa4;
}

.submit-button {
  margin-top: 10px;
}

.error-message {
  margin-top: 20px;
}