<div class="login-container">
  <form
    class="login-form center"
    role="group"
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit()"
  >
    <div class="center">
      <label class="login-label">
        Username
        <mat-form-field class="login-field" appearance="fill">
          <input matInput formControlName="username" required />
          <mat-error *ngIf="username.invalid">
            {{ getErrorMessageUsername() }}
          </mat-error>
        </mat-form-field>
      </label>
      <br />
      <label class="login-label">
        Password
        <mat-form-field class="login-field" appearance="fill">
          <input type="password" matInput formControlName="password" required />
          <mat-error *ngIf="password.invalid">{{
            getErrorMessagePassword()
          }}</mat-error>
        </mat-form-field>
      </label>
      <br />
      <button class="submit-button" type="submit" [disabled]="!loginForm.valid">
        Login
      </button>
      <br />
      <div class="error-message">
        <span class="error-message" *ngIf="error != ''">{{ error }}</span>
      </div>
    </div>
  </form>
</div>
